* {
  margin: 0;
  padding: 0; }

.section {
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative; }

.container {
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px; }

.flex-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left; }

.wrap {
  width: 100%;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.text-box.centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }
  .text-box.centered h1 {
    word-break: normal;
    text-transform: uppercase; }
  .text-box.centered h3 {
    padding-bottom: 1em; }

.subscription {
  font-size: 0.6em;
  font-weight: 600;
  color: #1C1C1C;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 20px; }

h1, h2, h3, h4, h5 {
  font-weight: 600; }

h1 {
  font-size: 2em;
  color: #FFFFFF;
  word-break: break-all;
  line-height: 1.3;
  width: 12em;
  text-align: left;
  position: relative;
  margin-bottom: 27px; }

h1::after {
  content: "";
  background-color: #FFFFFF;
  height: 2px;
  width: 64px;
  display: block;
  margin: 0 auto;
  margin-top: 0.6em;
  text-align: left; }

h2 {
  font-size: 1.7em;
  word-break: break-all;
  line-height: 1.3;
  width: 12em;
  padding-bottom: 0.5em; }
  h2:after {
    content: '';
    content: "";
    background-color: #E27866;
    height: 2px;
    width: 200px;
    display: block;
    margin-top: 0.6em;
    text-align: left;
    opacity: 0; }

h3 {
  font-size: 1.2em;
  padding-bottom: 0.3em; }

h4 {
  font-size: 0.9em; }

h5 {
  font-size: 0.7em; }

p {
  font-size: 0.7em;
  padding-bottom: 10px; }

svg .b {
  fill: #fff; }

button {
  width: 135px;
  height: 42px;
  color: white;
  border: solid 2px white;
  background-color: transparent;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer; }

button:hover {
  background-color: white;
  color: #1C1C1C;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }

.signup-button {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 57px;
  background-color: #41D395;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 0 0 5px 5px;
  border: 0;
  font-size: 1em;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif; }

.signup-button:hover, .send-button:hover {
  color: #41D395;
  border: solid 2px #41D395; }

.send-button {
  margin: 0 auto;
  margin-top: 30px;
  width: 160px;
  height: 48px;
  background-color: #41D395;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 5px;
  border: 0;
  font-size: 1em;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  width: 100%; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 70px;
  background-color: #1C1C1C;
  margin: 0 auto; }
  nav .container {
    height: 100%;
    max-width: 1100px; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 555px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 1.5em; }
  .menu ul {
    list-style: none;
    display: block;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden; }
    .menu ul li {
      color: white;
      display: inline-block;
      padding-right: 2.5em;
      padding-bottom: 1.5em;
      position: relative;
      margin: 0;
      overflow-x: hidden;
      -webkit-transition: -webkit-transform 0.4s;
      transition: -webkit-transform 0.4s;
      transition: transform 0.4s;
      transition: transform 0.4s, -webkit-transform 0.4s; }
      .menu ul li:after {
        content: "";
        position: absolute;
        display: inline-block;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 10%;
        background: #E27866;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out; }
      .menu ul li:hover:after {
        opacity: 1;
        -webkit-transform: translateX(-38%);
        transform: translateX(-38%); }
    .menu ul li:last-of-type {
      padding-right: 0; }
    .menu ul:last-of-type:hover:after {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%); }
  .menu a {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
    opacity: 0.69; }
  .menu a:hover {
    opacity: 1;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }

.home {
  height: 500px;
  padding-top: 60px; }
  .home .container {
    z-index: 1; }
  .home .container .text-box {
    width: 63%;
    max-width: 650px;
    min-height: 425px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 2; }
    .home .container .text-box h1::after {
      content: "";
      margin: 0 0;
      margin-top: 0.6em; }
    .home .container .text-box h4 {
      opacity: 0.8;
      color: #FFFFFF; }

.home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.63); }

#home {
  background-image: url("app/images/home.jpg"); }

.signup {
  width: 33%;
  min-height: 425px;
  min-width: 250px;
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2; }

#signup-header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  width: 100%;
  height: 57px;
  background-color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 5px 5px 0 0; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 2em;
  font-family: 'Montserrat', sans-serif; }
  form h3 {
    color: #1C1C1C; }

input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  background: white;
  color: #D8D8D8;
  border: 0;
  border-bottom: solid 1px #D8D8D8;
  width: 100%;
  height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline-color: #E27866; }

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  padding-right: 30px;
  cursor: pointer;
  line-height: 2.4;
  display: inline-block; }

[type="radio"]:checked + label {
  color: #000000;
  text-transform: uppercase; }

[type="radio"]:not(:checked) + label {
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase; }

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #41D395;
  border-radius: 100%;
  background: transparent; }

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 11px;
  height: 11px;
  background: #41D395;
  position: absolute;
  top: 4px;
  left: 4.5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

[type="tel"] {
  margin-bottom: 30px; }

.social {
  height: 105px;
  background-color: #FFFFFF;
  padding-top: 0;
  padding-bottom: 0; }
  .social .text-box {
    width: 45%; }
    .social .text-box p {
      color: #86878B; }

.icons {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .icons svg {
    fill: #e27866; }
  .icons a {
    opacity: 0.63; }
  .icons a:hover {
    opacity: 1; }

.features {
  width: 100%;
  height: 500px; }

.features::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#E27866), to(#6696E2));
  background-image: linear-gradient(to bottom right, #E27866, #6696E2);
  opacity: 0.42; }

#features {
  background-image: url("app/images/features.jpg"); }

.about {
  height: 350px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .about .text-box {
    width: 47%;
    color: #FFFFFF; }
    .about .text-box h2::after {
      opacity: 1; }
    .about .text-box .text-box {
      width: 100%;
      margin-top: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .about .text-box .text-box .wrap {
        min-height: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; }
      .about .text-box .text-box .circle {
        margin-right: 20px; }

.logo {
  width: 40%;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 50px; }

#about-logo {
  background-image: url("app/images/logo-big.svg"); }

.awsome, .reviews {
  background-color: #FFFFFF; }
  .awsome h1, .reviews h1 {
    color: #1C1C1C;
    word-break: normal; }
  .awsome p, .reviews p {
    color: #86878B; }
  .awsome .flex-vertical, .reviews .flex-vertical {
    padding-top: 40px;
    padding-bottom: 40px; }

.awsome {
  min-height: 400px; }
  .awsome .text-box {
    max-width: 240px;
    margin-bottom: 40px; }
  .awsome h1:after {
    content: "";
    background-color: #E27866; }

.circle {
  min-width: 50px;
  min-height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #E27866;
  border-radius: 50%;
  background-image: contain;
  background-position: center center;
  background-size: 50%;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.light {
  background-color: white; }

.heavy {
  background-color: #E27866; }

.pricing {
  min-height: 700px;
  background-color: #6696E2; }
  .pricing .text-box {
    margin-bottom: 40px; }
  .pricing h1 {
    text-align: center;
    width: 100%; }
  .pricing h1:after {
    content: "";
    background-color: #41D395; }
  .pricing .flex-vertical {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .pricing .wrap {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }

.card {
  width: 30%;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: white;
  border-radius: 5px; }

.card-top {
  width: 100%;
  min-height: 200px;
  background-color: #333333;
  color: white;
  text-align: center;
  border-radius: 5px 5px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .card-top h3 {
    font-weight: 300;
    text-transform: capitalize;
    margin-top: 14px;
    margin-bottom: 21px; }
  .card-top .oversized {
    font-size: 6em;
    position: relative; }
  .card-top .oversized::before {
    content: "$";
    height: 55px;
    width: 28px;
    font-size: 0.4em; }
  .card-top p {
    color: white;
    font-size: 1em; }
  .card-top .opaque {
    text-transform: capitalize;
    opacity: 0.5;
    margin-top: 14px;
    margin-bottom: 19px; }

.card-middle {
  width: 100%;
  background-color: #41D395;
  min-height: 4px; }
  .card-middle p {
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    font-size: 0.8em; }

.card-bottom {
  width: 100%; }
  .card-bottom ul {
    list-style: none;
    text-align: center; }
    .card-bottom ul li {
      font-size: 0.8em;
      color: #86878B;
      text-transform: uppercase;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 0.5em;
      padding-bottom: 0.5em; }
      .card-bottom ul li:last-of-type {
        padding-bottom: 1em; }

.reviews {
  height: 500px; }
  .reviews .text-box {
    max-width: 260px; }
  .reviews h1 {
    text-align: center;
    width: 100%; }
  .reviews h1:after {
    content: "";
    background-color: #6696E2; }

.contacts {
  width: 100%;
  min-height: 500px;
  background-color: #E27866; }
  .contacts .text-box {
    margin-bottom: 40px; }
  .contacts h1 {
    text-align: center; }
  .contacts h1:after {
    content: "";
    background-color: #E27866; }
  .contacts p {
    color: white; }
  .contacts form {
    padding-top: 20px;
    padding-bottom: 20px; }
    .contacts form .subscription {
      padding-top: 0; }
  .contacts .signup {
    min-height: 360px;
    margin-top: 33px; }

footer {
  height: 100px;
  background-color: #1C1C1C;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0; }
  footer p {
    font-size: 1.1em;
    color: white;
    opacity: 0.5;
    padding-top: 5px; }
  footer .icons a {
    opacity: 1; }
