.features {
    width: 100%;
    height: 500px;
    .container {
        z-index: 2;
        // .swiper-container-interactive {
        //     width: 950px;
        //     height: 100%;
        //     margin-left: 50px;
        .wrap {
            width: 900px;
            border: solid 1px greenyellow;
            align-items: center;
            margin-left: 40px;
            .text-box {
                max-width: 509px;
                max-height: 342px;
                margin-right: 65px;
                h1 {
                    text-align: left;
                    &:after {
                        content: none;
                    }
                }
                p {
                    color: white;
                }
            }
        }
    }
}


//fono gradient overlay
.features::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, $orange, $blue);
    opacity: 0.42;
}

#features {
    background-image: url('app/images/features.jpg');
}

.tabs-block {
    width: 100px;
    height: 342px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border: solid 1px powderblue;
}

button.tab {
    width: 100px;
    height: 100px;
    background-color: #A37169;
    border: 0;
    text-transform: uppercase;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    outline: #A37169; 
    span {
        display: inline-block;
        transform: rotate(-45deg);
        font-size: 14px;
        font-weight: 600;
        color:#d1b8b4;
    }
}

button.tab.active {
    background-color: $orange;
    opacity: 1;
    cursor: pointer; 
    span {
        color: white;
        transition: 0.2s ease-in;
    }
}

.image-block {
    // border: 1px solid green;
    max-width: 362px;
    min-width: 260px;
    max-height: 366px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .image-block-top, .image-block-bottom {
    // border: 1px solid red;
    width: 100%;
    height: 49%;
    display: flex;
    flex-direction: row;
    img {
        width: 100%;
        height: 100%;
    }
  }
  
  .image-block-top {
    justify-content: space-between;
    align-items: flex-start;
    .image-wrap {
        // border: 1px solid blue;
        // width: 167px;
        // height: 168px;
        &:first-of-type {
            margin-right: 20px;
        }
      }
  }
  
  .image-wrap {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-description {
    margin: 0;
    padding-top: 44%;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(225, 119, 100, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  }
  
  .image-wrap:hover .image-description {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  .image-block-bottom {
    justify-content: flex-start;
    margin-top: 20px;
    .image-wrap {
        // border: 1px solid green;
        width: 100%;
        height: 177px;
      }
    .image-description {
        padding-top: 23%;
    }
  }