.features {
    width: 100%;
    height: 500px;
    .container {
        z-index: 2;
        .wrap {
            max-width: 85%;
            border: solid 1px greenyellow;
            align-items: center;
            .text-box {
                max-width: 509px;
                max-height: 342px;
                h1 {
                    text-align: left;
                    &:after {
                        content: none;
                    }
                }
                p {
                    color: white;
                }
            }
        }
    }
}


.features::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, $orange, $blue);
    opacity: 0.42;
}

#features {
    background-image: url('app/images/features.jpg');
}

.tabs-block {
    width: 100px;
    height: 342px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border: solid 1px powderblue;
}

button.tab {
    width: 100px;
    height: 100px;
    background-color: #A37169;
    border: 0;
    text-transform: uppercase;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    outline: #A37169; 
    span {
        display: inline-block;
        transform: rotate(-45deg);
        font-size: 14px;
        font-weight: 600;
        color:#d1b8b4;
    }
    &:hover {
        background-color: $orange;
        opacity: 1;
        cursor: pointer; 
        span {
            color: white;
            transition: 0.2s ease-in;
        }
    }
}

.image-block {
    display: flex;
    height: 342px;
    border: solid 1px purple;
    .image-block-top, .image-block-bottom {
        height: 50%;
        width: 100%;
    }
    .pic { //pakeisti jpg html'e
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: cover;
        background-position: center center;
        &:hover {
            background-color: rgba(226, 120, 102, 0.8);
            cursor: pointer;
            span {
                opacity: 1;
            }
        }
        span {
            color: white;
            font-size: 20px;
            font-weight: 600;
            opacity: 0;
        }
    }
    .image-block-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .pic {
            width: 168px;
            height: 168px;
        }
    }
}

