//spalvos
$black: #1C1C1C;
$white: #FFFFFF;
$grey: #F5F5F5;
$darkgrey: #86878B;
$orange: rgb(225, 119, 100);
$green: #41D395;
$blue:#6696E2;
$fold-color: #000000;

//mediaQuery lūžiai
$big: 2000px;
$not-so-small: 1100px;
$small: 990px;
$smaller: 930px;
$little: 725px;
$tiny: 560px;
