$black: #1C1C1C;
$white: #FFFFFF;
$grey: #F5F5F5;
$darkgrey: #86878B;
$orange: rgb(225, 119, 100);
$green: #41D395;
$blue:#6696E2;
$fold-color: #000000;


//Negeros proporcijos layout'o. Peržiūrėti dydžius, kad būtų responsive
