.review-box {
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.speech-bubble {
    width: 100%;
    min-height: 50px;
    background-color: $blue;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 20px;
    position: relative;
    margin-bottom: 19px;
    p {
        font-size: 0.8em;
        color: white;
        line-height: 1.5;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 1050px) {
    .review-box {
        min-width: 200px;
    }   
  }

.speech-bubble:before {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    top: 100%;
    border: 8px solid transparent;
    border-top: 8px solid $blue; 
}
       
.review-bottom-box {
    width: 260px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    p {
        color: #86878B;
    }
}

.circle-image {
    width: 70px;
    height: 70px;
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
    border-radius: 50%;
    margin-right: 20px;
}

#customer {
    background-image: url('/app/images/avatar.png');
}