@import 'helpers';
@import 'containers';
@import 'elements';
@import 'buttons';


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

//FOOTER'IS
nav {
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 72px; //paversti em'ais
    background-color: $black;
    .container {
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.menu {
    display: flex;
    max-width: 555px;
    justify-content: flex-end;
    border: solid 1px yellow;
    ul {
        list-style: none;
        display: block;
        text-align: right;
        li {
            display: inline-block;
            padding-left: 2.5em;
        }
        li:first-of-type {
            padding-left: 1em;
        }
    }
    a {
        //padaryti after'į su juosta apačioje 
        //texto spalva balta su opacity
        color: $grey;
        text-decoration: none;
        font-size: 0.8em;
    }
}

//HOME skiltis
.home {
    height: 640px;
    margin-top: 72px;
    .container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .container .text-box {
        width: 63%;
        max-width: 650px;
        min-height: 425px;
        display: flex;
        h1::before {
            visibility: 1;
        }
        h4 {
            opacity: 0.8;
            color: $white;
        }
    }
}

#home {
    background-image: url('app/images/home.jpg');
}

//is cia iskirptas button, perkeltas i partial _buttons

//Home sign-up formos blokas

.signup { //konteineris
    width: 33%;
    min-height: 425px;
    min-width: 250px;
    background: $white;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    z-index: 10;
}

#signup-header {
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    width: 100%;
    height: 57px;
    background-color: $grey;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
}

@import "forms"; //iskelta forms ir input (+radio) i _forms


//Home skilties footeris section SOCIAL
.social {
    height: 105px;
    background-color: $white;
    .text-box {
        width: 30%;
    }
}

.icons {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
        fill:#e27866;
        opacity: 0.65;
    }
}

//FEATURES skiltis

.features {
    width: 100%;
    height: 500px;
}

#features {
    background-image: url('app/images/features.jpg');
}

//ABOUT skiltis

.about {
    height: 500px;
    background-color: black;
    display: flex;
    .text-box {
        width: 47%;
        color: $white;
        .text-box {
            width: 100%;
            margin-top: 10px;
            display: flex;
            align-items: flex-start;
            .wrap {
                min-height: 60px;
                display: flex;
                align-items: flex-start;
            }
            .circle {
                margin-right: 20px;
            }
        }
    }
}

.logo {
    width: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@import 'folds'; //iskeltas foldas i _folds

//AWSOME skiltis
.awsome, .reviews {
    height: 500px;
    background-color: $white;
    h1 {
        color: $black;
        word-break: normal;
    }
    p {
        color: $darkgrey;
    }
    .flex-vertical {
        justify-content: space-around;
    }
}

.awsome {
    h1:after {
        content: "";
        background-color: $orange;
    }
}

.circle {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: solid 1px $orange;
    border-radius: 50%;
    background-image: contain;
    background-position: center center;
    background-size: 50%;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light {
    background-color: white;
}

.heavy {
    background-color: $orange;
}

//PRICING skiltis
.pricing {
    min-height: 700px;
    background-color: $blue;
    h1 {
        text-align: center;
        width: 100%;
    }
    h1:after {
        content: "";
        background-color: $green;
    }
    .flex-vertical {
        justify-content: space-around;
    }
    .wrap {
        align-items: flex-end;
    }
}
@import 'card';

//REVIEWS skiltis
.reviews {
    h1 {
        text-align: center;
        width: 100%;
    }
    h1:after {
        content: "";
        background-color: $blue;
    }
}

//CONTACTS skiltis
.contacts {
    width: 100%;
    min-height: 500px;
    background-color: $orange;
    h1 {
        text-align: center;
    }
    h1:after {
        content: "";
        background-color: $orange;
    }
    p {
        color: white;
    }
    .signup {
        min-height: 360px;
        margin-top: 33px;
    }
} 